<%= form_for(@article, html: {multipart: true}) do |f| %>
  <ul>
    <% @article.errors.full_messages.each do |error| %>
    <li><% error %></li>
    <% end %>
  </ul>
  <div class="form-group"
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control" %>
  </div>
  <div class="form-group"
    <%= f.label :body %>
    <%= f.text_area :body, class: "form-control" %>
  </div>
  <div class="form-group"
    <%= f.label :tag_list %>
    <%= f.text_field :tag_list, class: "form-control" %>
  </div>
  <% if @article.image.exists? %>
    <%= label_tag "Attached Image" %>
    <%= image_tag @article.image.url %>
  <% end %>
  <div class="form-group"
    <%= f.label :image, "Attach an Image" %>
    <%= f.file_field :image, class: "form-control-file" %>
  </div>

  <div class="form-group">
    <%= f.submit "Submit", class: "btn btn-primary" %>
  </div>

<% end %>
