<!DOCTYPE html>
<html>
  <head>
    <title>Blogger</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render partial: "partials/navbar" %>
    <div class="container">
    <div class="flash"><%= flash.notice %></div>
      <%= yield %>
      <br>
      <div id="logged_status">
        <% if logged_in? %>
          <h6>Logged in as <span class="username"><%= "#{current_user.username}" %></span></h6>
        <% end %>
      </div>
    </div>
  </body>
</html>
